.headerContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: #f5f5f5;
  position: sticky;
  height: 40px;
}

.headerContainer > a {
  text-decoration: none;
  font-family: "Roboto Mono";
  font-size: 20px;
  color: #000;
  margin-left: 20px;
}

.headerContainer > a:hover {
  text-decoration: underline;
}

.headerContainer > a:first-child {
  margin-right: 20px;
}

.aboutMe {
  margin-left: 20px;
}
